---
name: bump-homebrew-formula

on:
  workflow_run:
    workflows:
    - goreleaser
    types:
    - completed

jobs:
  bump-homebrew-formula:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Generate authentication token from GitHub App
      id: app_token
      uses: actions/create-github-app-token@v2.2.1
      with:
        app-id: ${{ secrets.REPOSITORY_BOT_APP_ID }}
        private-key: ${{ secrets.REPOSITORY_BOT_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}

    - name: Get latest release version
      id: get_version
      env:
        GH_TOKEN: ${{ steps.app_token.outputs.token }}
      run: |
        # Get the tag name of the latest release.
        VERSION=$(gh release view --repo "${{ github.event.workflow_run.repository.full_name }}" --json tagName -q .tagName)
        echo "tag=${VERSION}" >> $GITHUB_OUTPUT

    - name: Check if the latest release has published assets
      id: check_assets
      env:
        GH_TOKEN: ${{ steps.app_token.outputs.token }}
      run: |
        # Check if the latest release has any assets.
        HAS_ASSETS=$(gh release view ${{ steps.get_version.outputs.tag }} --repo "${{ github.event.workflow_run.repository.full_name }}" --json assets -q '.assets | length > 0')
        echo "has_assets=$HAS_ASSETS" >> $GITHUB_OUTPUT

    - name: Get the package name from repository name
      id: get_package_name
      env:
        GH_TOKEN: ${{ steps.app_token.outputs.token }}
      run: |
        # Extract package name from repository name.
        REPO_NAME="${{ github.event.workflow_run.repository.name }}"
        PACKAGE_NAME="${REPO_NAME##*/}"
        echo "package_name=$PACKAGE_NAME" >> $GITHUB_OUTPUT

    - name: Trigger bump-formula-version workflow on lentidas/homebrew-tap
      if: ${{ steps.check_assets.outputs.has_assets == 'true' }}
      uses: peter-evans/repository-dispatch@v4.0.1
      with:
        token: ${{ steps.app_token.outputs.token }}
        repository: lentidas/homebrew-tap
        event-type: bump-formula-version
        client-payload: |
          {
            package_name: "${{ steps.get_package_name.outputs.package_name }}",
            version: "${{ steps.get_version.outputs.tag }}"
          }
