---
name: "commits-checks"

on:
  pull_request:
  workflow_dispatch:

jobs:
  commits-checks:
    runs-on: ubuntu-latest

    steps:
    - name: Generate authentication token from GitHub App
      id: app-token
      uses: actions/create-github-app-token@v2.2.1
      with:
        app-id: ${{ secrets.REPOSITORY_BOT_APP_ID }}
        private-key: ${{ secrets.REPOSITORY_BOT_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}
        permission-contents: read
        permission-pull-requests: read

    - name: Check commit messages
      uses: opensource-nepal/commitlint@v1.13.3
      with:
        token: ${{ steps.app-token.outputs.token }}
