---
name: "go-tests"

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  go-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v6.0.2

    - name: Set up Go
      uses: actions/setup-go@v6.3.0
      with:
        go-version-file: go.mod

    - name: Build code
      run: go build -v ./...

    - name: Run Go tests
      uses: robherley/go-test-action@v0.7.1
      with:
        omit: |
          pie
          untested
