---
name: "bump-formula-pr"

on:
  workflow_dispatch:
  workflow_run:
    workflows:
    - goreleaser
    types:
    - completed

jobs:
  bump-formula-pr:
    runs-on: ubuntu-latest

    steps:
    - name: Generate authentication token from GitHub App
      id: app-token
      uses: actions/create-github-app-token@v1.11.7
      with:
        app-id: ${{ secrets.REPOSITORY_BOT_APP_ID }}
        private-key: ${{ secrets.REPOSITORY_BOT_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}

    - name: Get GitHub App User ID
      id: get-user-id
      run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
      env:
        GH_TOKEN: ${{ steps.app-token.outputs.token }}

    - name: Create commiter name and e-mail
      id: git-user-info
      run: |
        echo "username=${{ steps.app-token.outputs.app-slug }}[bot]"  >> "$GITHUB_OUTPUT"
        echo "email=${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com"  >> "$GITHUB_OUTPUT"

    - name: Update Homebrew formula
      uses: dawidd6/action-homebrew-bump-formula@v6
      with:
        token: ${{ steps.app-token.outputs.token }}
        user_name: ${{ steps.git-user-info.outputs.username }}
        user_email: ${{ steps.git-user-info.outputs.email }}
        tap: lentidas/homebrew-tap
        no_fork: true
        formula: hledger-price-tracker